* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F3F6F7;
}

body {
  display: grid;
  grid-template-areas:
  "header header"
  "left right";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 9fr;
  font-family: 'Sintony', sans-serif;
  height: 850px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1F1F3D;
}

.left-nav {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #587A8A;
  display: block;
}

h1 {
  background: #1F1F3D;
  color: white;
  display: flex;
  align-items: flex-start;
  margin-left: 1.5em;
  font-size: 40px;
}

.default-area {
  font-size: 30px;
  text-align: center;
  color: grey;
}

.task-cards-container {
  grid-area: right;
  display: flex;
}

.task-creation-wrapper {
  background: #587A8A;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #4D7183;
}

.task-title-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #587A8A;
}

.task-item-wrapper {
  display: flex;
  flex-direction: column;
  background: #587A8A;
}

.task-area {
  display: flex;
  flex-direction: column-reverse;
}

.draft-task-list {
  display: flex;
  background: #587A8A;
  color: white;
  font-size: 20px;
}

.draft-task-list p {
  margin: .25em 0em 1em .25em;
  background: #587A8A;
  color: white;
  font-size: 20px;
}

.task-delete-img {
  display: flex;
  background: #587A8A;
}

.draft-task-list img {
  height: 1.5em;
  width: 1.5em;
  margin: .25em .5em 0em 0em;
  background: #587A8A;
}

.task-item-input-wrapper {
  display: flex;
  background: #587A8A;
  margin-bottom: 1em;
}

.make-task-wrapper {
  display: flex;
  justify-content: center;
  background: #587A8A;
}

label {
  margin: .5em 0em;
  background: #587A8A;
  color: #C8D3D9;
}

.task-title-wrapper input {
  height: 3em;
  width: 38em;
  margin: 1em 0em;
}

.task-item-wrapper input {
  height: 3em;
  width: 34em;
}

.clear-all-wrapper {
  display: flex;
  justify-content: center;
  background: #587A8A;
}

.search-wrapper input {
  height: 3em;
  width: 15em;
  font-size: 16px;
}

.search-wrapper button {
  background: #C8D3D9;
  border: #C8D3D9;
}

.search-button-image {
  background: #C8D3D9;
  width: 4em;
  height: 2.5em;
}

.search-wrapper {
  display: flex;
  height: 3em;
  width: 3em;
  margin-right: 12em;
}

.urgency-filter {
  display: flex;
  justify-content: center;
  background: #587A8A;
}

.task-creation-wrapper button {
  font-weight: bold;
}

.urgency-filter button {
  font-weight: bold;
}

.add-task-btn {
  width: 4em;
  height: 3em;
  background: #1F1F3D;
  color: white;
  font-weight: bold;
  border: #1F1F3D;
}

.urgency-filter button {
  width: 21em;
  height: 2.5em;
  font-size: 20px;
  margin-top: 2em;
  background: #1F1F3D;
  color: white;
  border: #1F1F3D;
}

.make-task-wrapper button {
  width: 21em;
  height: 2.5em;
  font-size: 20px;
  background: #1F1F3D;
  color: white;
  border: #1F1F3D;
}

.clear-all-wrapper
button {
  width: 21em;
  height: 2.5em;
  font-size: 20px;
  margin: 1em 0em 2em 0em;
  background: #1F1F3D;
  color: white;
  border: #1F1F3D;
}

.task-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.saved-task-cards {
  height: fit-content;
  width: 25em;
  margin: 2em;
  padding: 1em;
  border: 4px solid #C8D3D9;
}

.saved-task-title {
  border-bottom: 2px solid #C8D3D9;
  padding-bottom: .5em;
  margin-bottom: .5em;
  font-size: 20px;
  font-weight: bold;
  color: #1F1F3D;
}

.task-list-content img {
  height: 1.5em;
  width: 1.5em;
  margin-right: .75em;
}

.task-list-content {
  display: flex;
  padding-top: .5em;
}

.task-urgent-btn {
  display: flex;
  flex-direction: column;
}

.task-delete-btn {
  display: flex;
  flex-direction: column;
}

.task-list-btns {
  display: flex;
  justify-content: space-between;
  padding-top: .5em;
  margin-top: 1.5em;
  border-top: 2px solid #C8D3D9;
}

.task-list-btns p {
  padding-top: .5em;
  font-size: 13px;
}

.task-list-btns img {
  height: 1.5em;
  width: 1.5em;
  margin-left: .75em;
}

button:disabled {
  background: grey;
}

button,
input {
  outline: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
/*  */
